{% include "navbar/navbar.html"%} {% load materializecss %} {% load static %}

<div class="parallax-container">
  <h1 id="parallax-big-text">Take Your Health To The Next Level</h1>
  <div class="btn-container ">
    <a class="btn" href="/workouts/add" role="button">
      Record Data
    </a>
    <a class="btn" href="/workouts/view" role="button">
      View All Data
    </a>
    <a class="btn" href="/workouts/visualize" role="button">
      Visualize Results
    </a>
  </div>
  <div class="parallax">
    <img src="{% static 'images/parallax2.jpg' %}" />
  </div>
</div>
<div class="container">
  <div class="row">
    <h5 class="center bold">Actionable Nutrition Insights, Entirely Driven by You</h5>
    <p class="flow-text">Here at HealthMe, we've never lost track of our most important stakeholder: the user. Our mission is to create intuitive tools that empower our users to make whatever health decisions are best aligned with their goals.</p>
  </div>
</div>

  


  <div class="tap-target" data-target="add">
      <div class="tap-target-content">
        <h5>Welcome to HealthMe</h5>
        <p>To get started, click here to enter some data!</p>
        <div class="next" onclick="closeAll()">Dismiss</div>
      </div>
    </div>



  <script>
    window.addEventListener("load", function(){
      if("{{ first_login }}" == "true"){
        openDiscovery();
      }    
    });
    
  </script>

  <script>
    $(".parallax").parallax();
  </script>

</div>
{% include "navbar/footer.html"%}