{% include "navbar/navbar.html"%} {% load materializecss %} {% load static %}

<div class="parallax-container">
  <h1 id="parallax-big-text">Take Your Health To The Next Level</h1>
  <div class="btn-container ">
    <a class="btn" href="/workouts/add" role="button">
      Record Data
    </a>
    <a class="btn" href="/workouts/view" role="button">
      View All Data
    </a>
    <a class="btn" href="/workouts/visualize" role="button">
      Visualize Results
    </a>
  </div>
  <div class="parallax">
    <img src="{% static 'images/parallax2.jpg' %}" />
  </div>
</div>

  <h3 class="center">Why HealthMe?</h3>
  <div class="container">
    <p class="text-basic">
      We designed HealthMe because we were tired of outdated, unintuitive, and
      underdeveloped tooling for something as important as our health. Instead
      of having seperate tools for tracking nutrtiion, fitness, and visualizing
      this data, we combined all three functions into one so that our users
      could have the most streamlined health optimization experience.
    </p>
  </div>

  
{% comment %} <a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>

<a id="search" class="waves-effect waves-light btn btn-floating red" ><i class="material-icons">search</i></a> {% endcomment %}

  <div class="tap-target" data-target="add">
      <div class="tap-target-content">
        <h5>Welcome to HealthMe</h5>
        <p>To get started, click here to enter some data!</p>
        <div class="next" onclick="closeAll()">Dismiss</div>
      </div>
    </div>



  <script>
    window.addEventListener("load", function(){
      if("{{ first_login }}" == "true"){
        openDiscovery();
      }    
    });
    
  </script>

  <script>
    $(".parallax").parallax();
  </script>

</div>
