{% include "navbar/navbar.html"%}

{% load materializecss %}
{% load static %}

<h3 class="center"> Welcome to HealthMe </h3>
<h5 class="center">The app designed to optimize your health</h5>
<div class="row">
    <div class="col m4 s12">
    <h5 class="center">Make An Account</h5>
    <p class="home-column">To get started on your HealthMe journey, you need to create an account so we can keep track of your health progress! All we need is a username and password and then you'll be ready to go !</p>
    </div>
    <div class="col m4 s12">
    <h5 class="center">Enter Your Data</h5>
    <p class="home-column">You have the option to enter as much data you want about your health and wellness. From sleep to nutrition, we give you the choide to share as much data wit use as you're comfortable with!</p>
    </div>
    <div class="col m4 s12">
    <h5 class="center">Track Your Progress</h5>
    <p class="home-column">We made HealthMe to give everyone the tools to make data driven health decisions. Our visualization tooling was specifically designed to be both intuitive and powerful.</p>
    </div>
    
</div>
<div class="row">
  <div class="center">
      <a class="waves-effect waves-light btn" href="/auth/signup">Sign Up Now</a>
      <a class="waves-effect waves-light btn" href="auth/login">Login</a>
    </div>
</div>

<h4 class="center">Why HealthMe?</h4>
<div class="container">
  <p class="text-basic">We designed HealthMe because we were tired of outdated, unintuitive, and underdeveloped tooling for something as important as our health. Instead of having seperate tools for tracking nutrition, fitness, and visualizing this data, we combined all three functions into one so that our users could have the most streamlined health optimization experience.</p>
</div>
{% include "navbar/footer.html"%}