nav {
    position: fixed;
    padding: 20px; 
}

.navleft{
    margin-left: 50%;
}

nav{
    width: 100%;
}
li{
    display:inline;
    padding-inline-start: 3%;
  
}

h1{
    padding-top:5%;
    text-align: center;
}




