{% include "navbar/navbar.html"%} {% load materializecss %}

<div class="row">
  <div class="col s12 no-pad">
    <ul class="tabs tabs-fixed-width">
      <li class="tab col s3"><a href="#weightlifting">Weightlifting</a></li>
      <li class="tab col s3"><a href="#cardio">Cardio</a></li>
      <li class="tab col s3"><a href="#nutrition">Nutrition</a></li>
      <li class="tab col s3"><a href="#weight">Weight</a></li>
      <li class="tab col s3"><a href="#sleep">Sleep</a></li>

    </ul>
  </div>
  {% comment %} weightlifting addition {% endcomment %}
  <div id="weightlifting" class="col s12">
    <h2 class="center">Lifting</h2>
    {% comment %} <p class="muted center">Don't see the exercise you want? Add one here!</p> {% endcomment %}
    <!-- form logic taken from https://tutorial.djangogirls.org/en/django_forms/ -->
    <div class="col m4 offset-m4 s6 offset-s3 center">
      <form method="POST" class="workout-form" id="workout-form" name="workout">
        {% csrf_token %}
        {{ workoutForm | materializecss }}
        <button type="submit" class="save btn btn-default" name="workout">
          Save
        </button>
      </form>
    </div>
  </div>
  <div id="cardio" class="col s12">
    <h2 class="center">Cardio</h2>
    <div class="col m4 offset-m4 s6 offset-s3 center">
      <form method="POST" class="workout-form">
        {% csrf_token %}
        {{ cardioForm | materializecss }}
        <button type="submit" class="save btn btn-default" name="cardio">
          Save
        </button>
      </form>
    </div>
  </div>

  <div id="nutrition" class="col s12">
    <h2 class="center">Nutrition</h2>
    <div class="col m4 offset-m4 s6 offset-s3 center">
      <form method="POST" class="workout-form" id="nutrition-form">
        {% csrf_token %}
        {{ nutritionForm | materializecss }}
        {% comment %} <div id="progress-shift-down"></div> {% endcomment %}
        <button type="submit" class="save btn btn-default" name="nutrition">
          Save
        </button>
                  <div class="preloader-wrapper big active start-hidden">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="weight" class="col s12">
    <h2 class="center">Weight</h2>
    <div class="col m4 offset-m4 s6 offset-s3 center">
      <form method="POST" class="weight-form">
        {% csrf_token %}
        {{ weightForm | materializecss }}
        <button type="submit" class="save btn btn-default" name="wght_entry">
          Save
        </button>
      </form>
    </div>
  </div>

  <div id="sleep" class="col s12">
    <h2 class="center">Sleep</h2>
    <div class="col m4 offset-m4 s6 offset-s3 center">
      <form method="POST" class="sleep-form">
        {% csrf_token %}
        {{ sleepForm | materializecss }}
        <button type="submit" class="save btn btn-default" name="sleep">
          Save
        </button>
      </form>
    </div>
  </div>
</div>




<script src="/static/js/nutrition.js"></script>
{% include "navbar/footer.html"%}