{% include "navbar/navbar.html"%} {% load materializecss %}


<div class="row">
  <div class="col s12 no-pad">
    <ul class="tabs tabs-fixed-width">
      <li class="tab col s3"><a href="#weightlifting">Weightlifting</a></li>
      <li class="tab col s3"><a href="#cardio">Cardio</a></li>
      <li class="tab col s3"><a href="#nutrition">Nutrition</a></li>
      <li class="tab col s3"><a href="#weight">Weight</a></li>
      
    </ul>
  </div>
  <div id="weightlifting" class="col s12">
    <h2 class="center">Weightlifting</h2>
    <!-- form logic taken from https://tutorial.djangogirls.org/en/django_forms/ -->
    <div class="col s4 offset-s4 center">
      <form method="POST" class="workout-form" name="workout">
        {% csrf_token %}
        {{ workoutForm | materializecss }}
        <button type="submit" class="save btn btn-default" name="workout">
          Save
        </button>
      </form>
    </div>
  </div>
  <div id="cardio" class="col s12">
    <h2 class="center">Cardio</h2>
    <div class="col s4 offset-s4 center">
      <form method="POST" class="workout-form">
        {% csrf_token %}
        {{ cardioForm | materializecss }}
        <button type="submit" class="save btn btn-default" name="cardio">
          Save
        </button>
      </form>
    </div>
  </div>

  <div id="nutrition" class="col s12">
    <h2 class="center">Nutrition</h2>
    <div class="col s4 offset-s4 center">
      <form method="POST" class="workout-form">
        {% csrf_token %}
        {{ nutritionForm | materializecss }}
        <button type="submit" class="save btn btn-default" name="nutrition">
          Save
        </button>
      </form>
    </div>
  </div>

  <div id="weight" class="col s12">
    <h2 class="center">Weight</h2>
    <div class="col s4 offset-s4 center">
      <form method="POST" class="weight-form">
        {% csrf_token %}
        {{ weightForm | materializecss }}
        <button type="submit" class="save btn btn-default" name="wght_entry">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
