{% include "navbar/navbar.html"%} {% load materializecss %} {% load static %}

<h2 class="center">Macronutrient Analysis</h2>
<script src="{% static 'js/graphs.js' %}"></script>

<!-- use context to generate data at request-->

<div class="contaner">
  <div class="row">
    <div class="col s6">
      <div id="chart1" class="chart_id chart-class"></div>
    </div>
    <div class="col s6">
      <div id="chart2" class="chart_id chart-class"></div>
    </div>
  </div>
</div>

<!-- req workouts, nutrition, cardio + display their components-->

<script type="text/javascript">
          // parsing meal data
          var mealData = [];
          var workout_data = [];
          var cardio_data = [];
          
          {% for meal in meals %}
            mealData.push({
              "calories": "{{  meal.calories  }}",
              "protein_grams": "{{  meal.grams_of_protein  }}",
              "fat_grams": "{{  meal.grams_of_fat  }}",
              "carb_grams": "{{  meal.grams_of_carbs  }}",
              "date":"{{  meal.date  }}"
            })
          {% endfor %}
          
          
          generateMealGraphs(mealData);
</script>
