
/*Menu Bars Icon. Only displays on mobile */
.icon{
		display: none;
}

.listitem.responsive {
		display: none;
}

#nav-mobile{
	overflow:hidden;
	height: 100%;
}

.listitem{
	  float: left;
	  display: block;
	  text-align: center;
	  padding-bottom: 14px;
	  padding-left: 14px;
}

#listitem-5{
	padding-right: 14px;
}

.icon{
	padding-right: 15px;
}



/*Media Query*/
@media only screen and (max-width:991px) {
/*For Tablets*/

	/* addWorkout */
	.workout-form{
		margin-top: 70%;
		transform:scale(1.25);
	}

	#workout-fields{
		margin-top: -15%; 
	}

	/* viewWorkouts */

	#nutrition{
		transform:scale(1.5);
		margin-top: 25%;
	}

	#nutrition-fields{
		margin-top: -15%; 
	}

	#weightlifting{
		margin-top: 20%;
		transform: scale(1.4);
	}

	#cardio{
		margin-top: 20%;
		transform: scale(1.4);
	}

	#cardio-fields{
		margin-top: -15%;
	}

	#weight-fields{
		margin-top: -5%;
	}

	#weight{
		transform:scale(1.8);
		margin-top: 20%;
	}

	/* Responsive menu */
	.listitem {
		display: none;
	}
	
	.listitem-responsive{
		float: none;
		display: inline-block;
		padding-right: 15px;
		margin-top: 13%;
		margin-bottom: -10%;

	}

	#nav-mobile{
		background-color: teal;
		width: 100%;
		text-align: right;
		height: auto;
	}

	/* visualize */

	#strength-graph-div{
		width:100%;
	}

	#macro-average{
		width: 100%;
	}

	#macro-by-day{
		width:100%;
	}

	/* Before the menu icon is tapped */
	.icon{
		padding-right: 15px;
		padding-top: 15px;
		padding-left: 15px;
		display: block;
	}

	/* Before the menu icon is tapped */
	.icon-responsive{
		padding-right: 15px;
		padding-top: 15px;
		padding-left: 15px;
		position: absolute;
		right: 0;
		top: 0;
	}

	#menu-icon:hover{
		background-color: rgb(191, 191, 191, .3);
	}

	
}



/*Media Query*/
@media only screen and (max-width:600px) {
/*For Phones*/

	/*Sign Up */
	.sign-up-header{
		text-align: center;
	}

	/* Home Page */
	#parallax-big-text{
		font-size: 40px !important;
		height: 45%;
		color: #eddbc2 !important;
	}


	.btn-container{
		margin-top: 20px;
		text-align: center !important;
	}

	#visualize-btn{
		font-size: 12px;
	}

	#record-btn{
		font-size: 12px;
	}

	#view-btn{
		font-size: 12px;
	}

	.parallax-container{
	}

	.workout-form{
		margin-top: 40%;
		transform:scale(1);
		width: 140px;
		margin-left: -20px;
	}

	#workout-fields{
		margin-top: -15%; 
	}

	#nutrition{
		transform:scale(1);
		margin-top: 0%;
	}

	#nutrition-fields{
		margin-top: -15%; 
	}

	#weightlifting{
		margin-top: 0%;
		transform: scale(1);
	}

	#cardio{
		margin-top: 0%;
		transform: scale(1);
	}

	#cardio-fields{
		margin-top: -15%;
	}

	#weight-fields{
		margin-top: -5%;
	}

	#weight{
		transform:scale(1);
		margin-top: 0%;
	}

	.listitem-responsive{
			float: none;
			display: block;
			padding-right: 15px;
			margin-top: 0%;
			margin-bottom: -10%;
	}

	#listitem-1{
		margin-top: 15%;
	}

	#listitem-5{
		padding-bottom: 5%;
	}

	

}
