<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Thanks for vistiting!</h5>
        <p class="grey-text text-lighten-4">
          We really appreciate you taking the time to use HealthMe! If you have
          any feedback or want to get involved you can contact us at
          <a href="mailto:healthme@gmail.com." class="grey-text text-lighten-3"
            >healthme@gmail.com</a
          >.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://github.com/ollycohen/healthme"
              >Github</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 HealthMe
    </div>
  </div>
</footer>
