{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- d3js imports for graphs -->
    

  <!-- Load c3.css -->
  <link rel="stylesheet" type="text/css" href="{% static "css/c3.min.css" %}">



  <!-- Load d3.js and c3.js -->
  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <script src="{% static "js/c3.min.js" %}" type="text/javascript"></script>

  <!-- Materialize CSS, Jquery, Materialize JS -->
	<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  
  <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script>
      $(document).ready(function(){
        $('.tabs').tabs();
      });
      $('.parallax').parallax();
    </script>

  <!--  code for materializecss-form package -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script>
  $(document).ready(function(){

    // Initialize materialize data picker
    $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
    $('select').formSelect();

  });
  </script>
</head>
<body>
{% if messages %}
<ul class="messages center">
    {% for message in messages %}
            <li class="{{ message.tags }} message">{{ message }}</li>
    {% endfor %}
     {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <li class="error message">{{field.label}}: {{ error|escape }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li class="error message">{{ error|escape }}</li>
            {% endfor %}
        {% endif %}
      </ul>
</ul>
{% endif %}
  <nav>
    <div class="nav-wrapper teal darken-3">
      <a href="#" class="brand-logo">HealthMe</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- only display other options if user is logged in -->
        {% if user.is_authenticated %}
          <li><a href="/">Home</a></li>
          <li><a href="/workouts/add">Add </a></li>
          <li><a href="/workouts/view">View </a></li>
          <li><a href="/workouts/visualize">Visualize</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        {% else %}
          <li><a href="/">Home</a></li>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/signup">Signup</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>