{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- d3js imports for graphs -->
    

  <!-- Load c3.css -->
  <link rel="stylesheet" type="text/css" href="{% static "css/c3.min.css" %}">



  <!-- Load d3.js and c3.js -->
  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <script src="{% static "js/c3.min.js" %}" type="text/javascript"></script>

  <!-- Materialize CSS, Jquery, Materialize JS -->
	<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>

  <!-- Materialize icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Custom discovery js -->
  <script src="{% static 'js/discovery.js' %}"></script>

  <!-- Generate Graphs -->
  <script src="{% static 'js/macronutrientGraphs.js' %}"></script>
  <script src="{% static 'js/weightGraphs.js' %}"></script>
  <script src="{% static 'js/cardioGraphs.js' %}"></script>


    <script>
      $(document).ready(function(){
        $('.tabs').tabs();
      });
    </script>

  <!--  code for materializecss-form package -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script>
  $(document).ready(function(){

    // Initialize materialize date picker
    $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
    $('select').formSelect();

  });
  </script>

  <!-- routing for pages with tabs -->
  <script src="{% static 'js/tabRouter.js' %}" defer></script>
  <script>
    $( document ).ready(function() {
      routeTabs("{{ destinationTab }}")
    });
  </script>

  <!-- fontawesome import -->
  <script src="{% static 'js/font-awesome-kit.js' %}"></script>
  <!-- setting csrf token for use in delete form, code taken from https://docs.djangoproject.com/en/2.2/ref/csrf/#setting-the-token-on-the-ajax-request -->
  {% csrf_token %}
  <script type="text/javascript">
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
  </script>

  <!-- Initiailize navbar for mobile and fixed action buttons-->
  <script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  
  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton({hoverEnabled: false});
  });

  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
        
        
  </script>

</head>
<body>
{% if messages %}
<ul class="messages center">
    {% for message in messages %}
            <li class="{{ message.tags }} message">{{ message }}</li>
    {% endfor %}
     {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <li class="error message">{{field.label}}: {{ error|escape }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li class="error message">{{ error|escape }}</li>
            {% endfor %}
        {% endif %}
      </ul>
</ul>
{% endif %}
  <nav>
    <div class="nav-wrapper teal darken-3">
      <a href="/" class="brand-logo" id="logo">HealthMe</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- only display other options if user is logged in -->
        {% if user.is_authenticated %}
          <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/workouts/add"><i class="fas fa-dumbbell"></i>Add</a></li>
          <li><a href="/workouts/view"><i class="fas fa-database"></i>View</a></li>
          <li><a href="/workouts/visualize"><i class="fas fa-chart-line"></i>Visualize</a></li>
          <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        {% else %}
          <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/auth/login"><i class="far fa-user"></i>Login</a></li>
          <li><a href="/auth/signup"><i class="fas fa-user-edit"></i>Signup</a></li>
        {% endif %}
      </ul>
    </div>

    <ul class="sidenav" id="mobile-nav">
      <!-- only display other options if user is logged in -->
      {% if user.is_authenticated %}
        <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/workouts/add"><i class="fas fa-dumbbell"></i>Add</a></li>
        <li><a href="/workouts/view"><i class="fas fa-database"></i>View</a></li>
        <li><a href="/workouts/visualize"><i class="fas fa-chart-line"></i>Visualize</a></li>
        <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
      {% else %}
        <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/auth/login"><i class="far fa-user"></i>Login</a></li>
        <li><a href="/auth/signup"><i class="fas fa-user-edit"></i>Signup</a></li>
      {% endif %}
    </ul>          
  </nav>
  {% if user.is_authenticated %}
    
    {% comment %}   <a class="btn tooltipped" data-position="bottom" data-tooltip="I am a tooltip">Hover me!</a>
 {% endcomment %}
<div class="fixed-action-btn">
  <a id="add" class="btn-floating btn-large red">
    <i class="fas fa-plus"></i>
  </a>
  <ul>
    <li>
      <a class="btn-floating red tooltipped" data-position="left" data-tooltip="Record Lift" href="/workouts/add?dest=weightlifting">
        <i class="fas fa-dumbbell"></i>
      </a>
    </li>
    <li>
      <a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Record Cardio" href="/workouts/add?dest=cardio">
        <i class="fas fa-running"></i>
      </a>
    </li>
    <li>  
      <a class="btn-floating green tooltipped" data-position="left" data-tooltip="Record Meal" href="/workouts/add?dest=nutrition">
        <i class="fas fa-utensils"></i>
      </a>
    </li>
    <li>
      <a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Record Weight Entry" href="/workouts/add?dest=weight">
        <i class="fas fa-weight"></i>
      </a>
    </li>
  </ul>
</div>
  {% endif %}

  